
table {
    width: 100%;
    text-align: center;
  

}
td img{
    width: 50px;
    height: 50px;
}
tr{
    height: 70px;
}
th, td {
    border-bottom: 1px double grey;
    border-collapse: collapse;
}
td{
    color: grey;
    font-size: 14px;
}

.cartError{
 
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.subtotal{
    margin: 2em;
}

.subtotal > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.subtotal > p{
    color: grey;
    margin-top: -0.8em;
    font-size: 18px;
    margin-bottom: 2em;
}
.subtotal > .button {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.subtotal > .button >  button{
    width: 100%;
    margin-bottom: 0.5em;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
   background-color: rgb(65, 79, 130);
   color: white;
}

@media (min-width:1000px) {
.cart-grid{
    margin: 3em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.subtotal{
width: 300px;
margin-left: 5em;
}


}
